%h2 About This Application

%p#about_text This is an application to view skate spots. This can be both for learning spots in your area as well as show the USA spots that you have found over the years.

%ul#about_ul
  Usage:
  %li#about_li Find spots in your area.
  %li#about_li Create and view spots around the US.
  %li#about_li Clicking 'Skate Spots Maps' (top of screen) sends you to the home page.
  When creating a spot:
  %li#about_li A spot consists of the address, description, additional info, and a picture
  %li#about_li Description and additional info are different, description is what the spot is while additional info is useful tips for skating the spot.
  %li#about_li Always make the picture a clear representation of the spot.
  %li#about_li Always make sure the address is correct.
