%h2 About This Application

%p#about_text This is an application to create skate spots. This can be both for learning spots in your area as well as show the USA spots that you have found over the year(s).

%ul#about_ul
  Usage:
  %li#about_li Create and view spots around the US.
  %li#about_li Find spots in your area.
  %li#about_li Clicking your username sends you to the home page.
  When creating a spot:
  %li#about_li The creating a spot form consists of the address, description, additional info, and a picture
  %li#about_li Description and additional info are different, description is what the spot is while additional info is useful yips for skating the spot.
  %li#about_li Always make sure the address is correct,
  %li#about_li Always make the picture a clear representation of the spot.
